<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ShortStoryPage.com</title>
  </head>
  <style>
    .card{
    margin:10px;
    padding:200px;
    }
    .WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;

}
  </style>
  <body>
<div class="WebContainer">
<div class="card text-center">
  <h4>Terms and Conditions</h4>
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">


      Free website terms and conditions: cover
1.	This template legal document was produced and published by SEQ Legal LLP.
2.	We control the copyright in this template, and you may only use this template in accordance with the licensing provisions in our terms and conditions. Those licensing provisions include an obligation to retain the SEQ Legal credit incorporated into the template.
3.	The current version of our terms and conditions is available at: http://www.seqlegal.com/our-terms-and-conditions.
4.	If you would like to use this template without the SEQ Legal credit, you can purchase a licence to do so at: http://www.website-contracts.co.uk/seqlegal-licences.html
5.	You will need to edit this template before use. Guidance notes to help you do so are set out at the end of the template. During the editing process, you should delete those guidance notes and this cover sheet. Square brackets in the body of the document indicate areas that require editorial attention. "ORs" in the body of the document indicate alternative provisions. By the end of the editing process, there should be no square brackets left in the body of the document, and only one alternative from each set of alternatives should remain. Elements may be specified as optional in the accompanying notes, but that does not mean that they are in all cases removable. Depending upon the circumstances, an optional element may be: (i) required by law; or (ii) necessary to ensure that the document is internally consistent.
6.	If you have any doubts about the editing or use of this template, you should seek professional legal advice.
7.	You may be able to get free legal guidance using our public Q&A system, available at: http://www.seqlegal.com/questions.
8.	You can request a quote for legal services (including the adaptation or review of a legal document produced from this template) using this form: http://www.seqlegal.com/request-quote.


Terms and conditions of use
1.	Introduction
1.1	These terms and conditions shall govern your use of our website.
1.2	By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
1.3	If you [register with our website, submit any material to our website or use any of our website services], we will ask you to expressly agree to these terms and conditions.
1.4	You must be at least [18] years of age to use our website; by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least [18] years of age.
1.5	Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our [privacy and cookies policy].
2.	Credit
2.1	This document was created using a template from SEQ Legal (http://www.seqlegal.com).
You must retain the above credit. Use of this document without the credit is an infringement of copyright. However, you can purchase from us an equivalent document that does not include the credit.
3.	Copyright notice
3.1	Copyright (c) [year(s) of first publication] [full name].
3.2	Subject to the express provisions of these terms and conditions:
(a)	we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and
(b)	all the copyright and other intellectual property rights in our website and the material on our website are reserved.
4.	Licence to use website
4.1	You may:
(a)	view pages from our website in a web browser;
(b)	download pages from our website for caching in a web browser;
(c)	print pages from our website;

    </p>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>